/* Main div */
body {
    /* background-color: #111320; */
    background-color: whitesmoke;
    width: 100%;
}

.loader-wrapper {
    visibility: visible !important;
    /* background-color: red; */
}

.main-block {
    /* background-color: #111320; */
    background-color: whitesmoke;
    /* color: gainsboro; */
    color: rgb(40, 40, 40);
    font-family: "Segoe UI","Segoe UI Web (West European)",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue","sans-serif";
    margin-left: auto; 
    margin-right: auto;
    /* min-height: 720px;  */
    /* height: 100%; */
}

.container-width {
    /* color: gainsboro; */
    color: rgb(40, 40, 40);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#user-name {
    text-align: right;
}

.link {
    padding: auto 3px;
}

.link a {
    color: grey;
    text-decoration: none !important;
}

.link a:hover {
    color: rgb(40, 40, 40);
}

#logout {
    color: gainsboro;
    text-align: center;
    padding: auto 10px auto auto;
    border-left: solid 1px grey;
}


.container {
    margin: auto;
    margin-top: 1%;
}

h3 {
    font-size: 1rem;
}

#header-col-logo {
    margin: 0px auto;
    text-align: center;
    margin: auto;
    background-color: transparent; /* rgb(254, 209, 35); */
    height: 35px;
}


#header-col-name h3{
    margin: 10px auto;
    text-align: left;
}

#header-row {
    background-color:rgb(254, 209, 35);
    border-radius: 5px;
    /* color: #171C2D; */
    margin: 5px auto 10px auto;
    max-width: 1440px;
    align-items: center;
}


#table-header-row button {
    width: 100%;
    /* background-color: #171C2D; */
    background-color: white;
    /* color: gainsboro; */
    color: grey;
    border: none;
    border-radius: 5px;
    margin: 15px auto 0 auto;
}

#bar-header-row button {
    width: 100%;
    /* background-color: #171C2D; */
    background-color: white;
    /* color: gainsboro; */
    color: grey;
    border: none;
    border-radius: 5px;
    margin: 15px auto 0 auto;
}

/* Date picker styles */
#date-picker .DateInput_input, .SingleDatePickerInput {
    width: 100% !important; 
    /* background-color: grey; */
    background-color: gainsboro;
    /* color: gainsboro; */
    color: black;
    border: none;
    border-radius: 5px;
    /* margin: 5px 5px; */
}

#date-picker {
    /* background-color: grey; */
    background-color: gainsboro;
    width: 100%; 
    border-radius: 5px;
    margin: 12px auto 0px auto;
}

#date-picker .DayPicker_transitionContainer, .CalendarMonth, .CalendarDay, .CalendarMonthGrid, .DayPickerNavigation_button {
    background-color: gainsboro;  
    border-color: white;  
}

#date-picker .DateInput {
    background-color:  transparent !important;
    border-radius: 5px;
}

#date-picker .CalendarDay__selected {
    /* background-color: #FDC218; */
    /* border-color: #FDC218; */
    background-color: #2370B7;
    border-color: #2370B7;
}

#date-picker .DayPickerKeyboardShortcuts_buttonReset {
    display: none;
}


/* Data slicers styles*/

#main-col-slicers h3 {
    margin: 15px auto 0 15px;
    text-align: left;
}

#data-slicers {
    text-align: left;
}

#data-slicers .Select, .Select-placeholder {
    background-color: gainsboro;
    color: black;
}

/* #data-slicers .VirtualizedSelectFocusedOption { */
    /* background-color: #171C2D; */
    /* color: gainsboro; */
/* } */


#data-slicers .Select-value-label {
    /* color: #FDC218; */
    color:#2370B7;;
}

#data-slicers.Select-menu-outer {
    background-color: gainsboro;
    color: #171C2D;
}

/* #data-slicers .Select-control {
    margin: 5px 5px;
} */

#data-slicers .Select-placeholder:hover {
    background-color:  #2370B7;
    color: gainsboro;
}

/* #data-slicers input {
    color: #FDC218;
} */

#data-slicers .Select-placeholder{
    /* color: rgba(128, 128, 128, 0.5); */
    font-weight: lighter;
}


/* Visuals styles */
#main-col-visuals h3 {
    margin: 15px auto 0 15px;
    text-align: left;
}

/* Data bar chart styles */
#date-bar-chart {
    padding: 10px;
    /* background-color: #171C2D; */
    border-radius: 10px; 
    margin: 5px auto 10px auto;
    /* max-height: 350px; */
}

/* Datatable styles */
#data-table {
    padding: 10px;
    /* background-color: #171C2D; */
    border-radius: 10px;
    margin: 5px auto 10px auto;
}

#data-table input[placeholder="filter data..."] {
    color: grey;
}

/* #data-table .cell--selected {
    background-color: grey !important;
    border: none !important;
    border-color: transparent;
} */

/* #data-table .cell--selected:hover {
    background-color: #2370B7 !important;
} */

#data-table .column-header--sort {
    color:  #2370B7;
    padding: 1px 5px;
    height: 10px;
}

/* White style */
#data-table .dash-cell {
    /* background-color: white !important; */
    color: black !important;
}

#data-table .dash-header, .dash-select-header {
    background-color: gainsboro !important;
    color: rgb(40, 40, 40) !important;
}

#data-table .dash-select-cell {
    background-color: white !important;
    color: rgb(40, 40, 40) !important;
}